.cel-border {
  background-color: black;
  margin: 0;
  border: 0;
  padding: 0;
}

.content {
  background-color: #eef;
  margin: 0;
  border: 0;
  padding: 0;
  width: 40px;
  height: 40px;
}

.dot {
  width: 5px;
  height: 5px;
  margin: 0;
  border: 0;
  padding: 0;
}

.horizontal {
  width: 40px;
  height: 5px;
  cursor: pointer;
}

.vertical {
  width: 5px;
  height: 40px;
  cursor: pointer;
}

.square {
  margin: 0;
  padding: 0;
  min-width: 50px;
  min-height: 50px;
  display: block;
  font-size: 38px;
  text-align: center;
  font-family: arial;
}

.row {
  display: flex;
}

.left {
  opacity: 0.1;
}

.top {
  opacity: 0.1;
}

.right {
  opacity: 0.1;
}

.bottom {
  opacity: 0.1;
}

.selected {
  opacity: 1;
}

.horizontal-limit {
  height: 10px;
}

.vertical-limit {
  width: 10px;
}
