<form #configForm [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label>Jogador 1
      <input type="text" placeholder="1" formControlName="player1" maxlength="1">
    </label>
  </div><br/>
  <div class="form-control">
    <label>Jogador 2
     <input type="text" placeholder="2" formControlName="player2" maxlength="1">
    </label>
  </div><br/>
  <div class="form-control">
    <label>Linhas (2 a 20)
     <input min="2" max="20" type="number" placeholder="Linhas" formControlName="lines">
    </label>
  </div><br/>
  <div class="form-control">
    <label>Colunas (2 a 20)
      <input min="2" max="20" type="number" placeholder="Colunas" formControlName="cols">
    </label>
  </div><br/>
  <button type="submit" [disabled]="configForm.invalid">
    Jogar
  </button>
</form>
